# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kimvo\OneDrive - Koning Willem I College\school\leerjaar 1 (2020-2021) Kim\Praktijk\T02 Gevorderd dynamische website\project\site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
